@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    font-family: 'JetBrains Mono', monospace;
    overflow: hidden;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    width: 100vw;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(100px);
    z-index: -1;
}

.flex-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    z-index: 1;
    /* Ensure .active is positioned correctly */
}

.content,
.content2 {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    width: 15vw;
    border: 1px solid rgba(255, 255, 255, 0.603);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 1;
    /* Ensure content is above .active */
    margin-bottom: 1rem;
    /* Distance from the .active image */
}

.content::before,
.content2::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1vw;
    height: 3vh;
    background: rgba(255, 255, 255, 0.1);
    filter: blur(20px);
    z-index: -1;
}

.active-projects {
    height: 20rem;
    width: 40rem;
    position: absolute;
    top: calc(45%);
    /* 1rem below the content */
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    /* Ensure it is below content */
}

.typing-container {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    font-size: x-large;
}

.typing-container::after {
    content: '';
    position: absolute;
    right: 0;
    width: 2px;
    height: 1em;
    background-color: #ffffff;
    animation: blink-caret 0.7s step-end infinite;
}

#typed {
    display: inline;
}

@keyframes blink-caret {

    from,
    to {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1001;
}

.bar {
    width: 25px;
    height: 2px;
    background-color: #ffffff;
    transition: all 0.3s ease;
    position: absolute;
    border-radius: 2px;
}

.bar:nth-child(1) {
    top: 12px;
}

.bar:nth-child(2) {
    top: 19px;
    opacity: 1;
}

.bar:nth-child(3) {
    top: 26px;
}

.menu-toggle.active .bar:nth-child(1) {
    transform: rotate(45deg);
    top: 18px;
    width: 25px;
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
    width: 0;
}

.menu-toggle.active .bar:nth-child(3) {
    transform: rotate(-45deg);
    top: 18px;
    width: 25px;
}

.button-container {
    display: none;
    background-color: rgba(0, 0, 0, 0.1);
    /* Same background as content */
    border: none;
    /* No border by default */
    height: 40px;
    width: 0;
    position: fixed;
    top: 10px;
    left: 60px;
    /* Adjust position as needed */
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: width 0.3s ease, border 0.3s ease;
    z-index: 1000;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: none;
    /* Remove shadow */
}

.button-container.active {
    display: flex;
    width: 10vw;
    border: 1px solid rgba(255, 255, 255, 0.692);
    /* Same border as content */
}



.button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    margin: 0 5px;
}

.button:hover {
    transform: translateY(-3px);
}

.icon {
    height: 20px;
    width: 20px;
}

@media only screen and (max-width: 1680px) {
    .active-projects {
        top: calc(55% + 1rem);
        /* Adjusted */
        left: 50%;
    }
}

@media only screen and (max-width: 1100px) {
    .flex-container {
        flex-direction: column;
        gap: 10px;
    }

    .content,
    .content2 {
        min-width: 20rem;
        font-size: small;
        padding: 10px;
        margin-bottom: 1rem;
        /* Distance from .active */
    }

    .active-projects {
        display: none;
    }
}