@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    font-family: 'JetBrains Mono', monospace;
    background-color: #121212;
    color: white;
}

/* loading screen */
/* From Uiverse.io by boryanakrasteva */
@-webkit-keyframes honeycomb {

    0%,
    20%,
    80%,
    100% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    30%,
    70% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes honeycomb {

    0%,
    20%,
    80%,
    100% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    30%,
    70% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


.honeycomb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 24px;
    width: 24px;
}

.honeycomb div {
    -webkit-animation: honeycomb 2.1s infinite backwards;
    animation: honeycomb 2.1s infinite backwards;
    background: #f3f3f3;
    height: 12px;
    margin-top: 6px;
    position: absolute;
    width: 24px;
}

.honeycomb div:after,
.honeycomb div:before {
    content: '';
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    left: 0;
    right: 0;
}

.honeycomb div:after {
    top: -6px;
    border-bottom: 6px solid #f3f3f3;
}

.honeycomb div:before {
    bottom: -6px;
    border-top: 6px solid #f3f3f3;
}

.honeycomb div:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    left: -28px;
    top: 0;
}

.honeycomb div:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    left: -14px;
    top: 22px;
}

.honeycomb div:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    left: 14px;
    top: 22px;
}

.honeycomb div:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    left: 28px;
    top: 0;
}

.honeycomb div:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    left: 14px;
    top: -22px;
}

.honeycomb div:nth-child(6) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    left: -14px;
    top: -22px;
}

.honeycomb div:nth-child(7) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    left: 0;
    top: 0;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(100px);
    z-index: -1;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 10vh;
    margin-top: 10vh;
    font-size: 50px;
}

.repo-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30vh;
    justify-items: center;
    width: 50vw;
    margin: 0 auto;
}

.repo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    /* Šířka boxu */
    height: 150px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.603);
    border-radius: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
}

.repo-item:hover {
    transform: translateY(-4px);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.603);
    background: #bbbbbb3d;
}

.repo-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.repo-item a {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: default;
}

.btn-github {
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    border: #fff 1px solid;

    transition: background-color 0.3s ease, border-color 0.3s ease;
    border-radius: 100px;
    font-weight: 800;
    place-content: center;

    padding: 0.5rem 0.75rem;
    font-size: 0.825rem;
    line-height: 1rem;

    background-color: rgba(0, 0, 0, 0.144);
    box-shadow:
        inset 0 1px 0 0 rgba(255, 255, 255, 0.04),
        inset 0 0 0 1px rgba(255, 255, 255, 0.04);
    color: #fff;
}

.btn-github:hover {
    background-color: rgba(0, 0, 0, 0.534);
    border-color: rgba(255, 255, 255, 0);
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1001;
}

.bar {
    width: 25px;
    height: 2px;
    background-color: #ffffff;
    transition: all 0.3s ease;
    position: absolute;
    border-radius: 2px;
}

.bar:nth-child(1) {
    top: 12px;
}

.bar:nth-child(2) {
    top: 19px;
    opacity: 1;
}

.bar:nth-child(3) {
    top: 26px;
}

.menu-toggle.active .bar:nth-child(1) {
    transform: rotate(45deg);
    top: 18px;
    width: 25px;
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
    width: 0;
}

.menu-toggle.active .bar:nth-child(3) {
    transform: rotate(-45deg);
    top: 18px;
    width: 25px;
}

.button-container {
    display: none;
    background-color: rgba(0, 0, 0, 0.1);
    /* Same background as content */
    border: none;
    /* No border by default */
    height: 40px;
    width: 0;
    position: fixed;
    top: 10px;
    left: 60px;
    /* Adjust position as needed */
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: width 0.3s ease, border 0.3s ease;
    z-index: 1000;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: none;
    /* Remove shadow */
}

.button-container.active {
    display: flex;
    width: 10vw;
    border: 1px solid rgba(255, 255, 255, 0.692);
    /* Same border as content */
}

.button {
    outline: 0 !important;
    border: 0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    margin: 0 5px;
}

.button:hover {
    transform: translateY(-3px);
}

.icon {
    height: 20px;
    width: 20px;
}

.footer {
    margin-left: 90%;
    position: absolute;
    top: 91vh;
    opacity: 0.5;
    font-size: small;
}

.footer a {
    color: white;
}

.footer a:hover {
    color: yellow;
}